*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
.section{
    width: 100%;
    height: 80vh;
    background: rgb(243, 243, 243);
}
nav{
    padding: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px rgba(0, 0, 0, 0.089);
    align-items: center;
    background: rgba(30, 30, 30, 0.855);
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    margin-left: 10px;
    font-weight: 300;
}
nav ul li a {
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.logo{
    font-size: 45px;
    font-weight: 900;
    color: rgb(255, 36, 116);;
}
.hero{
    display: flex;
}
.hero-container{
    padding: 50px 150px;
    display: flex;
    flex-direction:row ;
    justify-content: center;
    align-items: center;
}
.hero-img{
    width: 50%;
    padding-left: 10px;
    background-color: rgb(27, 27, 27);
    justify-content: right;
}
.hero-img img{
    max-width: 100%;
    max-height: 100%;
}
.hero-text{
    width: 50%;
}
.hero-text h1{
    font-size: 62px;
    font-weight: bold;
    margin-bottom: 10px;
}
.hero-text p{
    font-size: 25px;
    font-weight: 300;

}
.hero-text .buttom{
    margin-top: 5%;
}
.hero-text .buttom a{
    background: rgb(255, 36, 116);
    padding: 15px;
    color:#fff;
    border-radius: 5px;
}

/* ---------------------------- cadidature post -------------------------------------*/

.cand-section{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: rgba(16, 16, 16, 0.717);
}
.cand-section h1 {
    color: #fff;
    margin-bottom: 10px;
}
.cand-form {
    display:flex;
    flex-direction: column;
    width: 720px;
    padding: 50px;
    width: 50%;
    height: 520px;
    border: solid 1px #0000005c;
}
.cand-form .form-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.form-content .form_input{
    width: 40%;
    text-align: left;
    height: 50px;
    margin-top: 20px;
    font-weight: 600;
}

.form-content input{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.img_input{
width: 50%;
color: #fff;
}
.file{
    color: #fff;
}
.botton {
    text-align: center;
    background: rgb(255, 36, 116);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    height: 45px;
    width: 25%;
    font-weight: bold;
    font-size: 25px;
}

/* ---------------------------- dash -------------------------------------*/
.dash{
    display: flex;
    justify-content:  center;
    flex-direction: column;
}
.dash-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: rgba(30, 30, 30, 0.855);
    align-items: center;
}
.dash-nav .logo a{
    font-size: 32px;
    font-weight: bold;
    color: rgb(255, 36, 116);
}

.dash-nav ul li {
    display: inline;
}
.dash-nav ul li a , span{
    color: rgb(218, 218, 218);
    font-size: 15px;
    font-weight: 300;
}
.dash-main{
    width: 100%;
}
.dash-Candidatures h4{
    margin-top: 30px;
    margin-left: 10px;
    font-weight: 900;
}
.all-Candidatures{
    width: 100%;
}
.dash-Candidatures img{
    max-width: 72px;
}
.dash table {
    border-collapse: collapse;
    margin-top: 5px;
    width: 100%;
}
.dash table thead{
    background: #000000c1;
    height: 72px;
    text-align: left;
    margin-bottom: 72px;
}
.dash table thead th {
    color: #fff;
    font-weight: 600;
    padding-left: 12px;

}
.dash table td{
    height: 50px;
    padding: 12px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }

/* ---------------------------- connexion -------------------------------------*/
.r_form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.r_form form {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}

.r_form form input {
    height: 50px;
}
.r_form form button {
    height: 50px;
    font-weight: bold;
    background: rgb(255, 36, 116);
    border: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;

}

.r_title{
    margin-top: 5px;
    margin-bottom: 5px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 50px;
}